<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SelectedVolume</key>
	<string></string>
	<key>InstallerPath</key>
	<string></string>
	<key>SelectedOSVersion</key>
	<string></string>
	<key>SavePath</key>
	<string></string>
	<key>View1Status</key>
	<string>0</string>
	<key>View4Status</key>
	<string>0</string>
	<key>CheckStructure</key>
	<string>if [[ -e /tmp/InstallESD/BaseSystem.dmg ]]; then echo &quot;tmp&quot;; fi</string>
</dict>
</plist>
